extends layout

block content

  .row
    .col-lg-8
      h2= title

    .col-lg-4
      img.pull-right(src="/static/img/fullscreen.png"
                     onclick="SetFullscreen(1);")
      // Note: When upgrading Unity, `SetFullscreen` is replaced with
      // `gameObject.setFullScreen(1);` (the unity developers got better...)

  .row
    .col-md-8
      canvas.emscripten#canvas(oncontextmenu="event.preventDefault()")


block scripts
  script(type='text/javascript' src='/static/javascripts/client.js')

  script(type='text/javascript').
    var Module = {
      TOTAL_MEMORY: 268435456,
      errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
      compatibilitycheck: null,
      backgroundColor: "#222C36",
      splashStyle: "Light",
      dataUrl: "/static/unity/!{model}/Release/!{model}_test.data",
      codeUrl: "/static/unity/!{model}/Release/!{model}_test.js",
      asmUrl: "/static/unity/!{model}/Release/!{model}_test.asm.js",
      memUrl: "/static/unity/!{model}/Release/!{model}_test.mem",
    };
  script(src='/static/unity/' + model + '/Release/UnityLoader.js')

