extends layout

block content

    form#queryForm.form-horizontal(action=query, method='post')
        .form-group#queryBoxParent
            textarea#queryBox.form-control(placeholder='SQL Query', name='query')=queryStr

        .form-group
            .col-sm-offset-9.col-sm-3
                button(type=submit, form=queryForm).btn.btn-default.btn-block Submit

    .container
        if error
            h3= error.status
            pre #{error.stack}

        else if queryStr.length > 0

            h3 Results (#{rows.length}):
                samp.pull-right #{queryStr}

            .row
                .col-sm-offset-9.col-sm-3
                    button#CSV-button.btn.btn-default.btn-block.pull-right Download
            .row
                table.table.table-bordered.table-condensed
                    thead
                        tr
                            each h in rowHeaders
                                th= h

                    tbody
                        each row in rows
                            tr
                                each h in rowHeaders
                                    td= row[h]

    script(src="https://code.jquery.com/jquery-3.1.0.min.js"
           integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
           crossorigin="anonymous")
    script(src='/javascripts/codemirror.js')

    script(type='text/javascript').
        $(function () {
            var $queryBox = $('#queryBox');

            var prevQuery = "#{queryStr.replace("'", "\\'")}";
            if (prevQuery !== '') {
                $queryBox.text(prevQuery);
            }

            var mirror = CodeMirror.fromTextArea($queryBox.get(0), {
                mode: "text/x-sql",
                extraKeys: { "Ctrl-Space": "autocomplete" },
                matchBrackets: true,
                autofocus: true,
                lineNumbers: true,
                hintOptions: {
                    tables: {
                        session: {
                            user_id: null,
                            start: null,
                            end: null,
                            model: null
                        },
                        click_view: {
                            session_id: null,
                            user_id: null,
                            model: null,
                            time: null,
                            timestamp: null,
                            button_id: null
                        },
                        position_view: {
                            session_id: null,
                            user_id: null,
                            model: null,
                            time: null,
                            timestamp: null,
                            x: null,
                            y: null,
                            z: null
                        },
                        rotation_view: {
                            session_id: null,
                            user_id: null,
                            model: null,
                            time: null,
                            timestamp: null,
                            x: null,
                            y: null
                        },
                        zoom_view: {
                            session_id: null,
                            user_id: null,
                            model: null,
                            time: null,
                            timestamp: null,
                            zoom: null
                        }
                    }
                }
            });

            $("#queryForm").submit(function (ev) {
                $.post('/query', {
                    'query': mirror.getValue()
                });
            });
        });

